body {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}

.gamingZone >button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    line-height: 5;
    color: #fff;
    border-radius: 8px;
    background-color: rgba(220, 0, 0, 1);
    font-size: 2em;

}

.gamingZone {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 1px;

}

.gamingZone>button:hover {
    background-color: rgb(152, 16, 16);
}

.footer {
    text-align: center;
    padding: 10px;
}


@font-face {
    font-family: 'Gunslinger-nZaY';
    src: url(gunslinger-font/Gunslinger-nZaY.ttf);
}

.header> :first-child {
    font-family: 'Gunslinger-nZaY';
    font-size: 2rem;
}

#resbtn {
    border: 0;
    background-color: aqua;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgb(15, 143, 143),
        inset -2px -2px 3px rgb(0, 0, 0.6)
}

#resbtn:active {

    box-shadow: inset -2px -2px 3px rgb(15, 143, 143),
        inset 2px 2px 3px rgb(0, 0, 0.6)
}

#resbtn:hover {
    border: 2;
    background-color: rgb(27, 190, 190);
}