body {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}

.gamingButtons>button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    line-height: 5;
    color: #fff;
    border-radius: 8px;
    background-color: rgba(220, 0, 0, 1);
    font-size: 2em;
    flex-shrink: 1;

}

.gamingButtons {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, minmax(50px,100px));
    grid-template-rows: repeat(3, minmax(50px,100px));
    gap: 5px;
    order: 2;

}

.gamingButtons>button:hover {
    background-color: rgb(152, 16, 16);
}

.footer {
    text-align: center;
    padding: 10px;
}


@font-face {
    font-family: 'Gunslinger-nZaY';
    src: url(gunslinger-font/Gunslinger-nZaY.ttf);
}

.header> :first-child {
    font-family: 'Gunslinger-nZaY';
    font-size: 2rem;
}

#resbtn {
    border: 0;
    background-color: aqua;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgb(15, 143, 143),
        inset -2px -2px 3px rgb(0, 0, 0.6)
}

#resbtn:active {

    box-shadow: inset -2px -2px 3px rgb(15, 143, 143),
        inset 2px 2px 3px rgb(0, 0, 0.6)
}

#resbtn:hover {
    border: 2;
    background-color: rgb(27, 190, 190);
}

.gamingZone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#player1 {
    order: 1;
    flex-shrink: 2;
    justify-self: end;
}

#player2 {
    order: 3;
    justify-self: start;
    flex-shrink: 2;
}


#player2,#player1{
    background-color:white;
    padding: 3px 20px;
    border-radius: 10px;
}
a{
    text-decoration: none;
}